/* Primary color #6d4976 */
/* Secondary color #e6649f */
/*  Tertiary color #E66926 */
/* Black rgb(40, 40, 40) */

body {
    background-color: rgba(230, 100, 159, 0.4);
    display: flex;
    flex-direction: column;
    color: rgb(40, 40, 40);
}

header {
    background: #6d4976;
}

nav {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 1.1rem;
    justify-content: center;
}

nav > a {
    margin: 1rem;
    color: white;
}

nav > a:hover,
nav > a:focus {
    color: #e6649f;
    text-decoration: none;
}

content {
    padding: 4rem 0 20rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title {
    margin-bottom: 4rem;
}

.download-link {
    background-color: #6d4976;
    font-size: 1.2rem;
    color: white;
    padding: 1rem;
    border-radius: 0.2rem;
}

.download-link:hover,
.download-link:focus {
    color: white;
}

.info-panel {
    border-radius: 0.2rem;
    border: 1px solid rgb(40, 40, 40);
    margin: 3rem;
    padding: 2rem;
}

.info-panel__title {
    color: #E66926;
    font-size: 2rem;
    font-weight: bold;
}

.info-panel--left {
    text-align: left;
    margin-right: 20rem;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.info-panel--right {
    text-align: right;
    margin-left: 20rem;
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.info-panel__list {
    margin-top: 1rem;
}

.info-panel__list__items {
    display: flex;
    max-width: 36rem;
}

.info-panel__list__items > ul {
    flex: 1;
}

li {
    text-align: left;
}

.link {
    color: white;
}

.spacer {
    width: 5rem;
}

footer {
    display: flex;
    justify-content: center;
}
